<table>
  <%= render 'form_head' %>
  <tbody>
  <% interviews.each do |interview| %>
    <tr>
      <%= render interview %>
      <td><%= link_to 'Edit', edit_interview_path(interview) %></td>
      <% if current_user.is_admin? %>
        <td><%= link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<br> <br>

<% unless current_user.is_admin? %>
  <%= month_calendar events: interviews do |date, interviews| %>
    <%= date %>

    <% interviews.each do |interview| %>
      <div>
        <%= interview.start_time %>
      </div>
    <% end %>
  <% end %>
<% end %>

<br>
<% unless current_user.is_admin? %>
  <%= link_to 'New Interview', new_interview_path %>
<% end %>

