<td> <%= interview.title %>  &nbsp; &nbsp; </td>
<td> <%= interview.interview_date %>  &nbsp; &nbsp; </td>
<td> <%= format_time(interview.start_time) %> &nbsp; &nbsp; </td>
<td> <%= format_time(interview.end_time) %> &nbsp; &nbsp; </td>
<% if interview.interviewee.present? %>
  <td> <%= interview.interviewee.user_name %>  &nbsp; &nbsp; </td>
<% else %>
  <th> Not Assigned &nbsp; &nbsp; </th>
<% end %>
<% if interview.interviewer.present? %>
  <td> <%= interview.interviewer.user_name %>  &nbsp; &nbsp; </td>
<% else %>
  <td> Not Assigned &nbsp; &nbsp; </td>
<% end %>
<td> <%= interview.status %></td>
<td><%= link_to "Download", interview.attachment_url %></td>

